<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome user</p>
<h1 class="text-primary"><%- name.name %></h1>
<br>
<img src="https://dducollegedu.ac.in/Icons/User-icon.png" alt="" style="width:64px;">
<a href="/users/logout" class="btn btn-secondary">Logout</a>
