<div class="row mt-5" >
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center"  style="background: #BBDEFB">
      <!-- <img src="https://blog.idrsolutions.com/wp-content/uploads/2015/06/ghostOriginal.png" alt="" style="width: 150px;"> -->
      <img src="https://blog.idrsolutions.com/wp-content/uploads/2015/06/ghostOriginal.png" class="rounded mx-auto d-block" alt="..." style="width: 150px;">
      <h1><i class="fab fa-asymmetrik fa-3x text-danger"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
